@charset "UTF-8";

div#tv-radio {
    background-image: url(../_imagens/radio-tv.png);
    width: 900px;
    height: 573px;
    margin: auto;
}

audio#musica {
    display: block;
    position: relative;
    left: 572px;
    top: 500px;
    height: 35px;
    outline: 0;
}

video#filme {
    display: block;
    position: relative;
    left: 90px;
    top: 60px;
    width: 440px;
    outline: 0;
}
